.new-messages {
background: linear-gradient(90deg, #ff9800, #ff5722);
  color: white;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 1.1rem;
  top: 10px;
}

.new-messages span {
  font-size: 1.3rem;
}

.new-messages button:hover {
  color: #ffe0b2;
}
